<img style="width:4rem;" src="{{ absolute_url(asset('imgs/logo.png')) }}">

<h3>{{'password.forgot.title' | trans}}</h3>

<span>{{ 'password.forgot.message' |trans({'%name%': regObject.name}) }}</span>

<p> {{'verify.message1' |  trans }} <a href="{{ url('forgotpasswordverify', {'verifyLink': regObject.encryptedLink } ) }}">{{ 'verify.message2' | trans }} </a>.</p>

<p>{{'thank.msg' | trans}}</p>

