
<img style="width:4rem;" src="{{ absolute_url(asset('imgs/logo.png')) }}">

<h3 > {{ 'registration.proff.title' | trans }}</h3>


<span>{{ 'registration.proff.message' |trans({'%name%': regObject.name}) }}</span>

<p> {{'verify.message1' |  trans }} <a href="{{ url('teachersignupverify', {'verifyLink': regObject.encryptedLink } ) }}"> {{ 'verify.message2' | trans }} </a>.</p>

<p>{{'thank.msg' | trans}}</p>

