<img style="width:4rem;" src="{{ absolute_url(asset('imgs/logo.png')) }}">

<h3>{{ 'registration.student.title' | trans }}</h3>

<p>{{'registration.student.message' | trans}}</p>

<p> {{'registration.student.password'| trans}}  - bbt@123</p>

<p> {{'verify.message1' |  trans }} <a href="{{ url('studentsignupverify', {'verifyLink': regObject.encryptedLink } ) }}"> {{ 'verify.message2' | trans }} </a>.</p>

<p>{{'thank.msg' | trans}}</p>

