<style type="text/css">

.left-mainsidebar.left_bar_cont {
    display: inline-block;
    width: 100%;
    max-width: 225px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    background: #010e9b;
}

.left_bar {
    display: inline-block;
    width: 100%;
}

.left_bar_logo {
    display: inline-block;
    width: 100%;
    padding: 30px 0;
    text-align: center;
}

.left_logo {
    display: inline-block;
    width: 100%;
    max-width: 130px;
}

.left_logo > img {
    display: inline-block;
    width: 100%;
}

.left-mainsidebar .left_logo_text {
    display: inline-block;
    width: 100%;
    padding: 10px 0;
    color: #fff;
	font-size:18px;
	text-transform:uppercase;	
}

.left_bar_content {
    display: inline-block;
    width: 100%;
    padding: 10vh 0;
}

.left_bar_buttons {
    display: inline-block;
    width: 100%;
    text-align: center;
}

ul.bar_but_ul,ul.bar_but_ul
 li {
    display: inline-block;
    width: 100%;
}

ul.bar_but_ul
 li {
    padding: 5px 0;
}

button.left_bar_but {
    border-radius: 7px;
    background: #fff;
    border: 0;
    width: 100%;
    max-width: 158px;
    color: #000;
    padding: 5px 30px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    display:inline-block;
}
button.left_bar_but.selected
{
    background: #70AD47;
    color:#fff;
}

.profile_head_cont,.profile_body_cont {
    display: inline-block;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
}

.pro_pic_upd_cont {
    display: inline-block;
    width: 100%;
    padding: 20px;
}

.center_l_block, .center_l_label, .center_l_txt_cont,.center_l_txtarea {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.center_l_label {
    text-align: left;
    padding: 5px;
    font-weight: 600;
}
.center_label {
    text-align: center;
    padding: 5px;
    font-weight: 600;
}


textarea.center_l_txtarea {
    border-radius: 6px;
    resize: none;
    text-align: left;
    padding: 10px;
    outline: 0;
}

.center_l_txt_cont {
    padding: 15px;
}

.center_l_block {
    border: 1px solid #000;
    padding: 7px;
}

.center_r_block {
    display: inline-block;
    width: 100%;
    border: 1px solid #000;
    padding: 10px;
}

img.pro_pic_upd_img {
    display: inline-block;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border: 0;
}

.upload_pic_but {
    display: inline-block;
    width: auto;
    padding: 5px 15px;
    background: #010e9b;
    color: #fff;
    border-radius: 9px;
    border: 0;
    outline: 0;
}

.unedit_cont {
    display: inline-block;
    width: 100%;
    padding: 20px;
    text-align: left;
}

li.unedit_li {
    font-size: 16px;
    padding: 5px;
}

ul.unedit_ul {
    padding: 15px;
}
.pro_pic_cont {
    display: inline-block;
    width: 100%;
    padding: 20px 20px 0 20px;
    text-align: center;
}
.body_main_text > .biggerText {
    font-size: 30px;
    font-weight: bold;
}
/*faiyaz*/
.post-container {
    margin: 20px 20px 0 0;  
    border: 5px solid #333;
    overflow: auto
}
.post-thumb {
    float: left
}
.post-thumb img {
    display: block
}
.post-content {
    margin-left: 50px
}
.post-title {
    font-weight: bold;
    font-size: 200%
}

/*clock*/
h1{
  color: #396;
  font-weight: 100;
  font-size: 40px;
  margin: 40px 0px 20px;
}

#clockdiv{
	font-family: sans-serif;
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 30px;
	margin-top:20px;
}
#clockdiv > div {
  border-radius: 3px;
  color: #000;
  display: inline-block;
}
#clockdiv div > span{
    padding: 18px 25px;
    border-radius: 3px;
    background: #414CB1;
	color: #ffffff;
    display: inline-block;
}

.smalltext{
	padding-top: 5px;
	font-size: 16px;
}
.savebutton{
    left: auto;
    right: 0;
    top: 0;
    height: 100%;
    border: 0;
    padding: 0 13px;
    color: #fff;
    font-size: 14px;
    background: #010e9b;
    border-bottom-right-radius: 7px;
    border-top-right-radius: 7px;

}
}
</style>
<div ng-controller="ranking" ng-init="init();">
	<div class="whole_container">
		<div class="left_bar_cont left-mainsidebar">
			<div class="left_bar">
				<div class="left_bar_logo">
					<div class="left_logo">
						<img src="imgs/logo.png">
					</div>
					<div class="left_logo_text">
						{{teacher.name}} {{teacher.surname}}
					</div>
				</div>
				<div class="left_bar_content">
					<div class="left_bar_buttons main-sidebar">
						<ul class="bar_but_ul"> 
							<li>
								<a class="btn color" ng-click="changeNav('profile')"><i class="fa fa-user" aria-hidden="true"></i><span translate="">MENU_PROFILE</span></a>
							</li>
							<li>
								<a class="btn color" ng-click="changeNav('ranking')"><i class="fa fa-file-text" aria-hidden="true"></i><span translate="">MENU_RANKING</span></a>
							</li>													<!-- <li>
								<button class="left_bar_but" ng-click="changeNav('feedback')">Feedback</button>
							</li> -->
							<!-- <li>
							 <a class="btn color" ng-click="logout()">
								<i class="fa fa-power-off" aria-hidden="true"></i>Logout</a>
							</li> -->
						</ul>
					</div>
				</div>
				<div class="header_container">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-xs-12">
					<div class="">
						<a href=""><img title="English" style="width: 100%" src="imgs/eng_flag.png" ng-click="changeLanguage('en')"></a>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-xs-12">
					<div class="">
						<a href=""><img title="Espanol" style="width: 100%" src="imgs/esp_flag.png" ng-click="changeLanguage('es')"></a>
					</div>
				</div>
			</div>
		</div>
			</div>
		</div>
		<!-- ranking list -->
		<div class="center_container main-content-section" ng-if="type=='ranking'">
			<div class="setting-menu">	
			 <a ng-click="editProfile()" class=""><i class="fa fa-gear"></i> <span translate="" class="ng-scope">Settings</span></a>				
			</div>
			 <img title="{{ 'LOGOUT' | translate}}" class="logoutRight cp" src="/imgs/logout.png" ng-click="logout()">
			<div class="profile_head_cont" ng-if="screen != 'addstudents' && screen != 'editfeedback'">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
					<div class="form-group m-t-10">
						<label for="sel1" class="form_head_text pull-left" translate="">R_SELECT_GROUP</label>
					<!-- 	<select class="form-control" id="gId" name="gId" placeholder="Select group" ng-model="currentGroupId" ng-selected="currentGroupId" ng-change="loadRanking(currentGroupId)" >
						<option ng-repeat="group in groups" value="{{group.id}}">{{group.id}}{{group.group_name}}</option>
						</select> -->
						<select class="form-control blue_select" ng-model="currentGroupId" 
					      ng-options="group.id as group.group_name for group in groups" ng-change="loadRanking(currentGroupId)">
					    </select>
					</div>
				</div>
			</div>
			<div class="row">				
				<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
						   <div class="green_box">
						      <div class="row">
							    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								 <h2 translate="">D_GEN_STATS</h2>
								</div>
						      	<div class="col-lg-7 col-md-8 col-sm-8 col-xs-6">
						      		<label translate="">D_NO_OF_STUDENTS</label>
									<span class="pull-right"><b>:</b></span>
						      	</div>
						      	<div class="col-lg-5 col-md-4 col-sm-4 col-xs-6">
						      		<p>{{report.count}}</p>
						      	</div>
						      	<div class="col-lg-7 col-md-8 col-sm-8 col-xs-6">
						      		<label translate="">D_NO_OF_OPS</label>
									<span class="pull-right"><b>:</b></span>
						      	</div>
						      	<div class="col-lg-5 col-md-4 col-sm-4 col-xs-6">
						      		<p>{{report.operations}}</p>
						      	</div>
						      	<div class="col-lg-7 col-md-8 col-sm-8 col-xs-6">
						      		<label translate="">D_TOTAL_PROFITABILITY</label>
									<span class="pull-right"><b>:</b></span>
						      	</div>
						      	<div class="col-lg-5 col-md-4 col-sm-4 col-xs-6">
						      		<p>{{report.percentage}} %</p>
						      	</div>
						      	<div class="col-lg-7 col-md-8 col-sm-8 col-xs-6">
						      		<label translate="">D_TOTAL_BENEFITS</label>
									<span class="pull-right"><b>:</b></span>
						      	</div>
						      	<div class="col-lg-5 col-md-4 col-sm-4 col-xs-6">
						      		<p>{{report.benefits}}</p>
						      	</div>

						      </div>
					     </div>	
				</div>		
				
			<!--	<div class="col-md-12">
				<div class="cls_progress">
					<p>{{timeTillEvent.hours}}</p>
					<div class="cls_main">
						<div class="avatar-container connection-{{timeTillEvent.hours}}"></div>
					</div>
				</div>
				</div>-->
						
				<div class="col-lg-5 col-lg-offset-1 col-md-4 col-sm-12 col-xs-12" style="margin-top: 4%;">
				 <div id="clockdiv">
					<div>
						<span class="days">{{timeTillEvent.days}}</span>
						<div class="smalltext" translate="">R_DAYS</div>
					</div>
					<div>
						<span class="hours">{{timeTillEvent.hours}}</span>
						<div class="smalltext" translate="">R_HOURS</div>
					</div>
					<div>
						<span class="minutes">{{timeTillEvent.mins}}</span>
						<div class="smalltext" translate="">R_MINS</div>
					</div>
					 <div>
						<span class="seconds">{{timeTillEvent.seconds}}</span>
						<div class="smalltext" translate="">R_SECS</div>
					</div> 
				  </div>
				</div>				
			  </div>				
			</div> 
				<div class="profile_body_cont" ng-if="screen == 'start'"> <!-- <button class="modal_nxt_bt" ng-click="loadRankingList()">Reload</button> -->
					<div class="row">
						<table ng-table="rankTable" class="table table-bordered table-striped table-condensed">
							<tr ng-repeat="row in $data track by $index">
								<td title=" 'RT_POSITION' | translate " filter="{position: 'text'}" sortable="'position'">{{row.position}} 
								<!-- <div ng-switch = "positionCheck(row.old_position,row.position)">
									<span ng-switch-when=true><i class="fa fa-arrow-up" aria-hidden="true"></i></span>
									<span ng-switch-when=false><i class="fa fa-arrow-down" aria-hidden="true"></i></span>
								</div> -->
								<span class="pull-left" ng-if=positionCheck(row.old_position,row.position)><i class="fa fa-arrow-up" aria-hidden="true" style=" color: green;text-shadow: 1px 1px 1px #ccc;font-size: 1.5em;"></i></span>
								<span class="pull-left" ng-if=!positionCheck(row.old_position,row.position)><i class="fa fa-arrow-down" aria-hidden="true" style=" color: red;text-shadow: 1px 1px 1px #ccc;font-size: 1.5em;"></i></span>
								</td>
								<td title=" 'RT_NAME' | translate" filter="{name: 'text'}" sortable="'name'"><a ng-click="userBasedFeedBack(row.userId);" href="javascript:void(0)"> {{row.name}} </a></td>
								<td data-title="'RT_AMOUNT' | translate" filter="{amount: 'text'}" sortable="'amount'">{{row.amount}}</td>
								<td style="width:10%" data-title="'RT_OPERATIONS' | translate" filter="{operations: 'text'}" sortable="'operations'">{{row.operations}}</td>								
								<td data-title=" 'RT_PROFITABILITY' | translate " filter="{benefitPercent: 'text'}" sortable="'benefitPercent'">{{row.benefitPercent}}</td>
								<td data-title="'RT_BENEFIT' | translate" filter="{benefits: 'text'}" sortable="'benefits'">{{row.benefits}}</td>
								<td data-title="'RT_ACTIONS' |translate " > 
									<i title="'RT_CHAT' | translate" ng-click="chatNow(row.userId);" class="fa fa-comments" aria-hidden="true" style=" color: #00BFFF;text-shadow: 1px 1px 1px #ccc;font-size: 1.5em;"></i> ({{row.total}}) 
									
									<i title=" 'RT_DELETE_USER' | translate " ng-click = "removeStudent(row.userId);" class="fa fa-times-circle" aria-hidden="true" style=" color: red;
								text-shadow: 1px 1px 1px #ccc;
								font-size: 1.5em;"></i>
								</td>
								<!-- <td data-title="'Feedback'" > <i class="fa fa-comments" aria-hidden="true" style=" color: #00BFFF;text-shadow: 1px 1px 1px #ccc;font-size: 1.5em;"></i> </td>
								<td data-title="'Delete'" > <i ng-click = "removeStudent(row.userId);" class="fa fa-times-circle" aria-hidden="true" style=" color: red;
								text-shadow: 1px 1px 1px #ccc;
								font-size: 1.5em;"></i> </td> -->
							</tr>
						</table>
						<div ng-if="rankingList.length ==0">
							<h4 translate="">NO_DATA</h4>
						</div>						
						       <div class="col-md-6 text-left p-0">
									<button class="modal_nxt_bt" ng-click="changeScreen('addstudents')"><span translate="">RT_ADD_STUDENTS</span></button>
									<button class="modal_nxt_bt" ng-click="changeScreen('league')"><span translate="">RT_LEAGUE_SETTINGS</span></button>
									<button class="modal_nxt_bt" ng-click="changeScreen('editfeedback')"><span translate="">RT_MODIFY_FEEDBACK</span></button>
								</div>														
							   </div>
							  </div>
							 </div>

			<!-- student feedback -->
			<div class="center_container main-content-section" ng-if="type=='studentFeedback'">
			   <div class="profile_head_cont" >
			      <div class="row">
			         <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
			            <div class="form-group m-t-10">
			               <label for="sel1" class="form_head_text pull-left">Select Student</label>
			               <select class="form-control blue_select" ng-model="studentId" 
			                  ng-options="user.userId as user.username  for user in students" ng-change="userBasedFeedBack(studentId)">
			               </select>
			            </div>
			         </div>
			         <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
			          <div class="modal_but_cont p-r-0 text-right">        							
					   <button class="modal_nxt_bt" ng-click="changeScreen('start')">View Ranking</button>
					  </div>
			         </div>
  			        </div>					
					<div class="col-md-12">					
			       		 <div class="green_box">
						      <div class="row">
							    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								 <h2 translate="">D_GEN_STATS</h2>
								</div>
						      	<div class="col-lg-7 col-md-8 col-sm-8 col-xs-6">
						      		<label translate="">D_NO_OF_STUDENTS</label>
									<span class="pull-right"><b>:</b></span>
						      	</div>
						      	<div class="col-lg-5 col-md-4 col-sm-4 col-xs-6">
						      		<p>{{report.count}}</p>
						      	</div>
						      	<div class="col-lg-7 col-md-8 col-sm-8 col-xs-6">
						      		<label translate="">D_NO_OF_OPS</label>
									<span class="pull-right"><b>:</b></span>
						      	</div>
						      	<div class="col-lg-5 col-md-4 col-sm-4 col-xs-6">
						      		<p>{{report.operations}}</p>
						      	</div>
						      	<div class="col-lg-7 col-md-8 col-sm-8 col-xs-6">
						      		<label translate="">D_TOTAL_PROFITABILITY</label>
									<span class="pull-right"><b>:</b></span>
						      	</div>
						      	<div class="col-lg-5 col-md-4 col-sm-4 col-xs-6">
						      		<p>{{report.percentage}} %</p>
						      	</div>
						      	<div class="col-lg-7 col-md-8 col-sm-8 col-xs-6">
						      		<label translate="">D_TOTAL_BENEFITS</label>
									<span class="pull-right"><b>:</b></span>
						      	</div>
						      	<div class="col-lg-5 col-md-4 col-sm-4 col-xs-6">
						      		<p>{{report.benefits}}</p>
						      	</div>

						      </div>
					     </div>	
				    </div>			         
			   </div>
			   <div class="profile_body_cont" ng-if="screen == 'start'">
			      <!-- <button class="modal_nxt_bt" ng-click="loadRankingList()">Reload</button> -->
			      <div class="row">
			         <table ng-table="purchaseTable" class="table table-bordered table-striped table-condensed">
			            <tr ng-repeat="row in $data track by $index">			              
			               <td data-title="'RT_ASSET' | translate" filter="{asset: 'text'}" sortable="'asset'">{{row.asset}}</td>
			               <td data-title="'RT_BUY_DATE' | translate" filter="{purchaseDate: 'text'}" sortable="'purchaseDate'">{{row.purchaseDate | date}}</td>
			               <td data-title="'RT_BUY_PRICE' | translate" filter="{purchasePrice: 'text'}" sortable="'purchasePrice'">{{row.purchasePrice}}</td>
			               <td data-title="'RT_AMOUNT' | translate" filter="{purchaseShare: 'text'}" sortable="'purchaseShare'">{{row.purchaseShare}}</td>
			               <td data-title="'RT_CURRENT_PRICE' | translate" filter="{currentPrice: 'text'}" sortable="'currentPrice'">{{row.currentPrice}}</td>
			               <td data-title="'RT_BENEFIT' | translate" filter="{benefits: 'text'}" sortable="'benefits'">{{row.benefits}}</td>
			            </tr>
			         </table>
			         <div>
			         </div>
			      </div>
			      <!-- operations table -->
			       <div class="row">
			         <table ng-table="operationsTable" class="table table-bordered table-striped table-condensed">
			            <tr ng-repeat="row in $data track by $index">			              
			               <td data-title="'RT_ASSET' | translate" filter="{asset: 'text'}" sortable="'asset'">{{row.asset}}</td>
			               <td data-title="'RT_BUY_DATE' | translate" filter="{purchaseDate: 'text'}" sortable="'purchaseDate'">{{row.purchaseDate}}</td>
			               <td data-title="'RT_BUY_PRICE' | translate" filter="{purchasePrice: 'text'}" sortable="'purchasePrice'">{{row.purchasePrice}}</td>
			               <td data-title="'RT_BUY_VOL' | translate" filter="{purchaseShare: 'text'}" sortable="'purchaseShare'">{{row.purchaseShare}}</td>
			               <td data-title="'RT_SALE_PRICE' | translate" filter="{salePrice: 'text'}" sortable="'salePrice'">{{row.salePrice}}</td>
			               <td data-title="'RT_SALE_VOL | translate'" filter="{saleShare: 'text'}" sortable="'saleShare'">{{row.saleShare}}</td>
			               <td data-title="'RT_SALE_DATE' | translate" filter="{saleDate: 'text'}" sortable="'saleDate'">{{row.saleDate}}</td>
			               <td data-title="'RT_BENEFIT' | translate" filter="{benefits: 'text'}" sortable="'benefits'"><button class="btn" ng-class="buttonColor1(row.benefits)">{{row.benefits}}</button></td>
			               <td data-title="'RT_BENEFIT_PER'| translate" filter="{benefitPercentage: 'text'}" sortable="'benefitPercentage'"><button class="btn" ng-class="buttonColor1(row.benefitPercentage)">{{row.benefitPercentage}}</button></td>
			            </tr>
			         </table>
			         <div>
			         </div>
			      </div>
			   </div>
			</div>

			<div class="center_container main-content-section" ng-if="screen == 'addstudents'" style=" border: 1px solid lightgrey;padding: 5%;margin: 5%;">
			<div class="profile_head_cont">
				<div class="row">
					<div class="col-lg-2 col-md-2 col-sm-8 col-xs-12">
					</div>
					<div class="col-lg-6 col-md-6 col-sm-8 col-xs-12">
						<div class="form_head_text" translate="">
    						S1_ADD_STUDENTS
    					</div>
						<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    							<div class="input_upload">
    								<input type="text" class="field_text" placeholder="{{ 'S1_ADD_STUDENTS_PH' | translate }}" name="maillist"  ng-model="teacher.mail_list"/>
    								<small translate="">S1_ADD_STUDENTS_NOTE</small>
    							</div>
							</div>
						</div>
						<div class="row">
							(or)
						</div>
						<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    							<!-- <div class="input_upload">
    								<input type="file" class="upload_text" placeholder="Find Your File(csv./other)" name="maillistfile" name="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" ngf-select="selectFile(teacher.mail_list_file)" ng-model="teacher.mail_list_file"/>
    								<small translate="">S1_UPLOAD_STUDENTS</small>
    							</div>  -->
								<div class="file-upload">
									  <div class="file-select">
									    <div class="file-select-button" id="fileName" translate="">choose_file</div>
									    <div class="file-select-name" id="noFile" translate="">no_file_choosen</div> 
									    <input type="file" name="chooseFile" id="chooseFile" name="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" ngf-select="selectFile(teacher.mail_list_file)" ng-model="teacher.mail_list_file">
									  </div>
									  <small translate="">S1_UPLOAD_STUDENTS</small>
									</div>
							</div>
						</div>
						<!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0">
							<div class="form_head_text">
        						Want to create a group with them ?
        					</div>
        					<div class="input_text p15">
        						<input type="text" class="field_text" placeholder="Name of the Group" name="groupname" ng-model="teacher.group_name" />
        					</div>
						</div> -->
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
						<div class="modal_image_container">
							<div class="modal_image">
								<img src="imgs/want_to_create.png" class="modal_banner">
							</div>
						</div>
					</div>
				</div>
				<!-- <div class="row">
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
					<div class="modal_but_cont">        							
						<button class="modal_nxt_bt" ng-click="addStudents()">upload Students</button>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
					<div class="modal_but_cont">        							
						<button class="modal_nxt_bt" ng-click="changeScreen('start')">View Ranking</button>
					</div>
				</div>
				</div> -->
				<div class="col-lg-12 col-sm-12 col-xs-12  p-0">
					 <button class="upload_pic_but m-t-10" ng-click="changeScreen('start')"> <span translate=""> RT_VIEW_RANKING </span></button>
					 <button class="upload_pic_but m-t-10" ng-click="addStudents()"> <span translate="">RT_ADD_STUDENTS</span></button>
				 </div>
				</div>
					<script type="text/javascript">
					$('#chooseFile').bind('change', function () {
						var filename = $("#chooseFile").val();
						if (/^\s*$/.test(filename)) {
							$(".file-upload").removeClass('active');
							$("#noFile").text("No file chosen..."); 
						}
						else {
								$(".file-upload").addClass('active');
								var a = (filename.replace("C:\\fakepath\\","")); 								
								if(a.length > 10)
									{

										a = a.substring(0, 10);
										a = a + " ...";										
									}
									$("#noFile").text(a);
							}
						});
	</script>
			</div>
			<div class="center_container main-content-section" ng-if="screen == 'editfeedback'" ng-init="processArrays()">
			<div class="profile_head_cont">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="form_head_text " translate="" style="float: left;">
							S3_FEED_BACK_LABEL
						</div>
					</div>
					<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">

						<div class="cust_list_ans">         						
							<div class="row">
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
										<div class="checkbox_cont">
											<ul class="check_cont_ul"> 
												<li> 
												<label class="check_label">   
													<input type="checkbox"  ng-true-value="'1'" ng-false-value="'0'" value="true" ng-model="teacher.feedback[0]">
													<span class="check_text" translate="">S3_FEED_BACK_1 </span>
													</label>
												</li>
												<li> 
													<label class="check_label">   
													<input type="checkbox"  ng-true-value="'1'" ng-false-value="'0'" ng-model="teacher.feedback[1]">
													<span class="check_text" translate="">S3_FEED_BACK_2</span>
													</label>
												</li>
												<li> 
													<label class="check_label">   
													<input type="checkbox" ng-true-value="'1'" ng-false-value="'0'" ng-model="teacher.feedback[2]">
													<span class="check_text" translate="">S3_FEED_BACK_3</span>
													</label>
												</li>
												<li> 
													<label class="check_label">   
													<input type="checkbox"  ng-true-value="'1'" ng-false-value="'0'" ng-model="teacher.feedback[3]">
													<span class="check_text" translate="">S3_FEED_BACK_4</span>
													</label>
												</li>
												</ul>
										</div>
								</div>
							</div>
						</div>  
					</div>
					<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
						<i class="fa fa-bar-chart fa-6" aria-hidden="true" ></i>
					</div>
	        	</div>
				<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<div class="modal_but_cont">        							
						<button class="modal_nxt_bt" ng-click="updateFeedback()"><span translate="">RT_UPDATE_FEEDBACK</span></button>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<div class="modal_but_cont">        							
						<button class="modal_nxt_bt" ng-click="changeScreen('start')" ><span translate="">RT_VIEW_RANKING</span></button>
					</div>
				</div>
				</div>
				</div>
				
			</div>
			<div class="center_container main-content-section" ng-if="screen == 'league'">
			<div class="profile_head_cont">
				<!-- league -->
				<form id="leagueForm" name="leagueForm" formnovalidate="formnovalidate" novalidate>
							<div class="row">
	        						<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
		        						<div class="custom_num_list">
		        							<ul class="cust_num_ul"> 
		        								<li class="cust_num_li">
		        									<div class="cust_list_q">
		        										<span class="li_num">1</span>
		        										<span class="li_q" translate="">S2_DATE_LABEL</span>
		        									</div>
		        									<div class="cust_list_ans">         						
														<div class="row">
															<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">

																<b translate="">S2_SDATE</b>
																<!-- <input type="date" class="date_form"  placeholder="Start Date" name="maillistfile" ng-model="teacher.start_date" ng-change="stopcountdownFun('start')"  /> -->
																<input type="text"  class="form-control docs-date" id="picker3" name="sdate"   ng-model="teacher.start_date" ng-change="stopcountdownFun('start')" placeholder="dd/mm/yyyy" data-toggle="datepicker" ng-disabled="DisableStartDate"
																required  />
															</div>
														<div class="text-left error" ng-messages="leagueForm.teach_place.$error" ng-show="leagueForm.sdate.$touched">
															<div ng-messages-include="js/messages.html"></div>
														</div>
															<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
																<b translate="">S2_EDATE </b> 
																<!-- <input type="date"  class="date_form" name="startdate"  ng-model="teacher.end_date" ng-change="stopcountdownFun('end')"/> -->
																<input type="text"  class="form-control docs-date" id="picker4" name="edate"   ng-model="teacher.end_date" ng-change="stopcountdownFun('end')" placeholder="dd/mm/yyyy" data-toggle="datepicker" 
																required />
																 <div class="text-left error" ng-messages="sdate.edate.$error" ng-show="leagueForm.edate.$touched">
															       <div ng-messages-include="js/messages.html"></div>
															 	</div>
															</div>
														</div>
		        									</div>       									
		        								</li>
		        								<li class="cust_num_li">
		        									<div class="cust_list_q">
		        										<span class="li_num">2</span>
		        										<span class="li_q" translate="">S2_ASSETS_LABEL</span>
		        									</div>
		        									<div class="cust_list_ans">         						
														<div class="row">
															<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
																<div class="checkbox_cont">
																	<ul class="check_cont_ul"> 
																		<li> 
																			<label class="check_label">   
																				<input type="checkbox"  ng-true-value="'1'" ng-false-value="'0'" ng-model="teacher.assets[0]">
																				<span class="check_text">Ibex35</span>
																			</label>
																		</li>
																		<li> 
																			<label class="check_label">   
																				<input type="checkbox"   ng-true-value="'1'" ng-false-value="'0'" ng-model="teacher.assets[1]">
																				<span class="check_text">Mercado continuo</span>
																			</label>
																		</li>
																		<li> 
																			<label class="check_label">   
																				<input type="checkbox"  ng-true-value="'1'" ng-false-value="'0'" ng-model="teacher.assets[2]">
																				<span class="check_text">Forex</span>
																			</label>
																		</li>
																	</ul>
																</div>
															</div>
														</div>
		        									</div>       									
		        								</li>
		        								<li class="cust_num_li">
		        									<div class="cust_list_q">
		        										<span class="li_num">3</span>
		        										<span class="li_q" translate="">S2_LEAGUE_LABEl</span>
		        									</div>
		        									<div class="cust_list_ans">
		        										<div class="row">
		        											<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		        												<input type="text" class="field_text ft2 blue" placeholder="{{'S2_LEAGUE_PH' | translate}}" name="leaguename" ng-model="teacher.league_name" ng-minlength="2" ng-maxlength="30" required />
		        												 <div class="text-left error" ng-messages="leagueForm.leaguename.$error" ng-show="leagueForm.leaguename.$touched">
															       <div ng-messages-include="js/messages.html"></div>
															 	</div>
		        											</div>	

		        										</div>
		        									</div>
		        								</li>
		        								<li class="cust_num_li">
		        									<div class="cust_list_q">
		        										<span class="li_num">4</span>
		        										<span class="li_q" translate="">S2_VIRTUAL_MONEY</span>
		        									</div>
		        									<div class="cust_list_ans">
		        										<div class="row">
		        											<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
		        												<input type="text" class="field_text ft2 blue"  placeholder="{{'S2_VIRTUAL_MONEY_PH' | translate}}" name="virtualmoney" ng-model="teacher.virtual_money" ng-disabled="editVirtualMoney()"
		        												 required ng-pattern="/^[0-9.,]*$/" ng-maxlength="16" ng-change="checkVirtualMoney();"/> 
		        												 
															 	
		        											</div>	
		        											<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="padding-left: 0%;
    															padding-top: 2%;">
		        											&euro;
		        											</div>
		        											
		        										</div>
		        										<br>
		        										<small translate=""> virtual_money_help</small>
		        										<div class="text-left error" ng-messages="leagueForm.virtualmoney.$error" ng-show="leagueForm.virtualmoney.$touched" >
															       <div ng-messages-include="js/messages.html"></div>
															 	</div>
		        									</div>
		        									
		        								</li>
		        							</ul>
		        						</div>
	        						</div>
	        						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
	        							<div class="modal_image_container">
	        								<div class="modal_image">
	        									<img src="" class="modal_banner">
	        								</div>
	        							</div>
	        						</div>
	        					</div>
	        				</form>
	        					
								<div class="row">
									<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
		        						<div class="modal_but_cont">
		        							<button class="modal_nxt_bt" ng-disabled="!leagueForm.$valid" ng-click="updateLeague()"><span translate="">UPDATE</span></button>
		        							
		        						</div>
		        					</div>
									<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
										<div class="modal_but_cont">        							
											<button class="modal_nxt_bt" ng-click="changeScreen('start')"><span translate="">RT_VIEW_RANKING</span></button>
										</div>
									</div>
								</div>
				</div>

					 <script type="text/javascript">
			function initPlug () {
						  $("#picker3").datepicker({
						  	format: "DD/MM/YYYY",
						  	zIndex:9999999999,						  	
						  	autoHide: true
						  }); 
						  $("#picker4").datepicker({
						  	format: "DD/MM/YYYY",
						  	zIndex:999,
						  	autoHide : true
						  }); 
				}
				initPlug();

        </script>
				
			</div>
		</div>
		<!-- chat start -->
	  <div class="chat_main_container" ng-if="chatActive">
	  	<div class="chatbox-holder">
		  <div class="chatbox">
		    <div class="chatbox-top">
		      <div class="chatbox-avatar">
		        <a target="_blank" href="javascript:void(0)"><img src="/imgs/logo.png" /></a> 
		      </div>
		      <div class="chat-partner-name">
		        <span class="status online"></span>
		        <a target="_blank" href="javascript:void(0)">{{chat.partnerName}}</a>
		      </div>
		      <div class="chatbox-icons">
		        <a href="javascript:void(0);"><i class="fa fa-minus chat_ui_button"></i></a>
		        <a href="javascript:void(0);"><i class="fa fa-times chat_ui_button" ng-click="closeChat()"></i></a>       
		      </div>      
		    </div>
		    
		    <div class="chat-messages">
		       <div class="message-box-holder" ng-repeat="message in chat.messages">
		        <div class="message-box" ng-class="chatType(message)">
		          {{message.message}}
		        </div>
		      </div>
 
		    </div>
		    
		    <div class="chat-input-holder">
		      <textarea class="chat-input" ng-model="chat.newMessage" required ></textarea>
		      <input type="submit" value="{{'SEND' | translate}}" class="message-send" ng-click="sendMessage();"/>
		    </div>
		    
		  </div>
		</div>
		  <script type="text/javascript">
				$(function(){
				 //$(this).closest('.chatbox').hide();
		          $('.fa-minus.chat_ui_button').click(function(){    
		            $(this).closest('.chatbox').toggleClass('chatbox-min');
		          });
		          /*$('.fa-times.chat_ui_button').click(function(){
		            $(this).closest('.chatbox').toggleClass('hidden');
		          });*/
		        });
	  </script>
	  </div>

	  <!-- 4 STEP PROCESS START -->
	  	<div class="container">
	  <div class="modal fade" id="addStudent" role="dialog" data-backdrop="static" data-keyboard="false">
	    <div class="modal-dialog signup-popover">   
	      <div class="modal-content">
	        <div class="modal-header">
	          <button type="button" class="close" data-dismiss="modal">&times;</button>
	          <ul>
	          	<li class="step_head_li" id="step_head_1" data="1" translate="">STEP_1</li>
	          	<li class="step_head_li" id="step_head_2" data="2" translate="">STEP_2</li>
	          	<li class="step_head_li" id="step_head_3" data="3" translate="">STEP_3</li>
	          	<li class="step_head_li" id="step_head_4" data="4" translate="">STEP_4</li>
	          </ul>
	        </div>
	        <div class="modal-body">
	        	<form id="stepForm" name="stepForm"  formnovalidate="formnovalidate" novalidate>
	        	<div class="step_body_container">
	        		<ul class="step_body_ul">
	        			<li class="step_body_li p-0 signupstep-sec" id="step_body_1">
	        				<form id="stepForm1" name="stepForm1"  formnovalidate="formnovalidate" novalidate>
	        				<div class="form_container">
	        					<div class="row">								
	        						<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 m-t-10 p-0">
	        							<div class="form_head_text" translate="">
			        						S1_ADD_STUDENTS
			        					</div>
	        							<div class="row">
	        								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0">
			        							<div class="input_upload m-b-0">
			        								<input type="text" class="field_text" placeholder="{{'S1_ADD_STUDENTS_PH' | translate}}" name="maillist"  ng-model="teacher.mail_list"/>
			        							</div>
		        							</div>
											<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 txt-or">(or)</div>		        							
		        							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0">
			        							<div class="input_upload">
			        								<input type="file" class="upload_text p-0" placeholder="{{'S1_ADD_STUDENTS_PH' | translate}}" name="maillistfile" name="file" ngf-select="selectFile(teacher.mail_list_file)" ng-model="teacher.mail_list_file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"/>
			        								<small class="upload-info" translate="">S1_UPLOAD_STUDENTS</small>
			        								
			        							</div>
			        						<!-- 	<div class="file-upload">
													  <div class="file-select">
													    <div class="file-select-button" id="fileName1">Choose File</div>
													    <div class="file-select-name" id="noFile1">No file chosen...</div> 
													    <input type="file" name="chooseFile" id="chooseFile1">
													  </div>
													</div> -->
		        							</div>
	        							</div>
	        							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p0 m-t-10">
		    								<div class="form_head_text" translate="">
				        						S1_GROUP_LABEL
				        					</div>
				        					<div class="input_text m-t-10">
				        						<input type="text" class="field_text" placeholder="{{'S1_GROUP_PH' | translate }}" name="groupname" ng-model="teacher.group_name" ng-maxlength="30"/>
				        					</div>
				        					<div class="text-left error" ng-messages="stepForm1.groupname.$error" ng-show="stepForm1.groupname.$touched">
												<div ng-messages-include="js/messages.html"></div>
											</div>
		    							</div>
	        						</div>
									<div class="col-lg-4 col-lg-offset-0 col-md-4 col-sm-4 col-xs-12 text-center p-0" style="margin-top: 8%;">
	        							<div class="modal_image_container">
	        								<div class="modal_image">
	        									<img src="imgs/want_to_create.png" class="modal_banner">
	        								</div>
	        							</div>
	        						</div>
	        						
	        					</div>
	        					<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 m-t-10 p-0">
	        						<div class="modal_but_cont p-0 m-t-10 text-right">        							
	        							<button class="modal_nxt_bt" ng-click="shiftTab(2)"> <span translate="">STEP_NEXT</span> </button>
	        						</div>
	        					</div>
	        				</div>
	        			</form>
	        			</li>
	        			<li class="step_body_li" id="step_body_2">
	        				<form id="stepForm2" name="stepForm2"  formnovalidate="formnovalidate" novalidate>
	        				<div class="form_container">
	        					<div class="form_head_text" translate="">
	        						S2_TITLE 
	        					</div>
	        					<div class="row">
	        						<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 p-0">
		        						<div class="custom_num_list">
		        							<ul class="cust_num_ul p-0"> 
		        								<li class="cust_num_li">
		        									<div class="cust_list_q">
		        										<span class="li_num">1. </span>
		        										<span class="li_q" translate="">S2_DATE_LABEL </span>
		        									</div>
													<div class="col-md-9 p-0" style="padding:0 !important;">
		        									 <div class="cust_list_ans p-0">         						
														<div class="row">
															<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 p-l-0">
																<b style="font-size: 12px; color: #666666;" translate="">S2_SDATE  </b>
																<!-- <input id="sDateField" type="date" class="date_form"  placeholder="Start Date" name="maillistfile" ng-model="teacher.start_date" ng-change="checkTime('start')" /> -->
																<input type="text" ng-click="dateinitialize()" class="form-control docs-date" id="picker1" name="sdate"   ng-model="teacher.start_date" ng-change="checkTime('start')" placeholder="dd/mm/yyyy" data-toggle="datepicker" />
															</div>
															<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 p-0">
																<b style="font-size: 12px; color: #666666;" translate="">S2_EDATE  </b> 
																<!-- <input type="date"  class="date_form" name="startdate"  ng-model="teacher.end_date" ng-change="checkTime('end')"/> -->
																<input type="text" ng-click="dateinitialize()" class="form-control docs-date" id="picker2" name="edate"   ng-model="teacher.end_date" ng-change="checkTime('end')" placeholder="dd/mm/yyyy" data-toggle="datepicker" />
															</div>
														</div>
		        									</div>      
												   </div>	
													 									
		        								</li>
		        								<li class="cust_num_li">
		        									<div class="cust_list_q">
		        										<span class="li_num">2. </span>
		        										<span class="li_q" translate="">S2_ASSETS_LABEL</span>
		        									</div>
		        									<div class="cust_list_ans p-0">         						
														<div class="row">
															<div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 p-0">
																<div class="checkbox_cont">
																	<ul class="check_cont_ul"> 
																		<li> 
																			<label class="check_label">   
																				<input type="checkbox" name=""  ng-true-value="'1'" ng-false-value="'0'" ng-model="teacher.assets[0]">
																				<span class="check_text">Ibex35</span>
																			</label>
																		</li>
																		<li> 
																			<label class="check_label">   
																				<input type="checkbox" name=""  ng-true-value="'1'" ng-false-value="'0'" ng-model="teacher.assets[1]">
																				<span class="check_text">Mercado continuo</span>
																			</label>
																		</li>
																		<li> 
																			<label class="check_label">   
																				<input type="checkbox" name=""  ng-true-value="'1'" ng-false-value="'0'" ng-model="teacher.assets[2]">
																				<span class="check_text">Forex</span>
																			</label>
																		</li>
																	</ul>
																</div>
															</div>
														</div>
		        									</div>       									
		        								</li>
		        								<li class="cust_num_li">
		        									<div class="cust_list_q">
		        										<span class="li_num">3. </span>
		        										<span class="li_q" translate="">S2_LEAGUE_LABEl</span>
		        									</div>
		        									<div class="cust_list_ans p-0">
		        										<div class="row">
		        											<div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 p-0">
		        												<input type="text" class="field_text ft2 blue" placeholder="{{'S2_LEAGUE_PH' |  translate}}" name="leaguename" ng-model="teacher.league_name" ng-minlength="2" ng-maxlength="30"/>
		        											</div>	
		        											
		        										</div>
		        										<div class="text-left error" ng-messages="stepForm2.leaguename.$error" ng-show="stepForm2.leaguename.$touched">
																<div ng-messages-include="js/messages.html"></div>
															</div>
		        									</div>
		        								</li>
		        								<li class="cust_num_li">
		        									<div class="cust_list_q">
		        										<span class="li_num">4. </span>
		        										<span class="li_q" translate="">S2_VIRTUAL_MONEY</span>
		        									</div>
		        									<div class="cust_list_ans p-0">
		        										<div class="row">
		        											<div class="col-lg-9 col-md-10 col-sm-10 col-xs-10 p-0">
		        											 <input type="text" class="field_text ft2 blue"  placeholder="{{'S2_VIRTUAL_MONEY_PH' |  translate}}" name="virtualmoney" ng-model="teacher.virtual_money" ng-change="checkVirtualMoney();"/> 
		        											</div>
		        											
		        											<div class="col-lg-1 col-md-2 col-sm-2 col-xs-2" style="padding-top: 2%;">
		        											&euro;
		        											</div>
		        										</div>
		        										<small translate=""> virtual_money_help</small>	
		        									</div>
		        								</li>
		        							</ul>
		        						</div>
	        						</div>
	        						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 p-0">
	        							<div class="modal_image_container">
	        								<div class="modal_image">
	        									<img src="imgs/virtual_money.png" class="modal_banner">
	        								</div>
	        							</div>
	        						</div>
	        					</div>
	        					<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 p-0">
	        						<div class="modal_but_cont p-l-0 p-r-0 text-right">
	        							<!-- <button class="modal_nxt_bt" ng-click="shiftTab(1)">Back</button> -->
	        							<button class="modal_nxt_bt" ng-click="shiftTab(3)"><span translate="">STEP_NEXT</span> </button>
	        						</div>

	        					</div>        					
	        				</div>
	        			</form>
	        			</li>
	        			<li class="step_body_li p-0" id="step_body_3">
	        				<div class="form_container">
	        					<div class="form_head_text" translate="">
	        						S3_FEED_BACK_TITLE
	        					</div>
	        					<div class="row">
	        						<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 p-0">
	        							<div class="row">
	        								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0">
			        							<div class="cust_list_q" translate="">
					        						S3_FEED_BACK_LABEL
					        					</div>
		        							</div>
		        							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0">
		        								<div class="checkbox_cont">
													<ul class="check_cont_ul"> 
														<li> 
															<label class="check_label">   
																<input type="checkbox"  ng-true-value="'1'" ng-false-value="'0'" ng-model="teacher.feedback[0]">
																<span class="check_text" translate="">S3_FEED_BACK_1</span>
															</label>
														</li>
														<li> 
															<label class="check_label">   
																<input type="checkbox"  ng-true-value="'1'" ng-false-value="'0'" ng-model="teacher.feedback[1]">
																<span class="check_text" translate="">S3_FEED_BACK_2</span>
															</label>
														</li>
														<li> 
															<label class="check_label">   
																<input type="checkbox"  ng-true-value="'1'" ng-false-value="'0'" ng-model="teacher.feedback[2]">
																<span class="check_text" translate="">S3_FEED_BACK_3</span>
															</label>
														</li>
														<li> 
															<label class="check_label">   
																<input type="checkbox"  ng-true-value="'1'" ng-false-value="'0'" ng-model="teacher.feedback[3]">
																<span class="check_text" translate="">S3_FEED_BACK_4</span>
															</label>
														</li>
													</ul>
												</div>
		        							</div>
	        							</div>
	        						</div>
	        						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center">
	        							<div class="modal_image_container">
	        								<div class="modal_image">
	        									<img src="imgs/average_profitability.png" class="modal_banner">
	        								</div>
	        							</div>
	        						</div>
	        					</div>
	        					<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 p-0">
	        						<div class="modal_but_cont p-l-0 p-r-0 text-right">
	        							<!-- <button class="modal_nxt_bt" ng-click="shiftTab(2)">Back</button> -->
	        							<button class="modal_nxt_bt" ng-click="shiftTab(4)"><span translate="">STEP_NEXT</span></button>
	        						</div>
	        					</div>
	        				</div>        				
	        			</li>
	        			<li class="step_body_li" id="step_body_4">
	        				<div class="form_container">
	        					<div class="row">
	        						<p class="form_head_text" translate="">S4_MESSAGE</p>
									<!-- <div ng-if="response.invalidArray.length >0">
	        							following emails are invalid and not added
	        							<p ng-repeat="email in response.invalidArray">
	        								{{email}}
	        							</p>
	        						</div>
	        						<div ng-if="response.dupelicateArray.length >0">
	        							following emails already exists and not added
	        							<p ng-repeat="email in response.dupelicateArray">
	        								{{email}}
	        							</p>	        							
	        						</div>	 -->								
	        					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 m-t-10">
	        						<div class="modal_but_cont m-t-10" style="text-align:center !important;">        							
	        							<button class="modal_nxt_bt" data-dismiss="modal"><span translate="">OK</span> </button>
	        				     </div>
	        		       	 </div>
	        		       	</div>
	        		       </div>
	        			</li>
	        		</ul>
	        	</div>
	        </form>
	        </div>
	      </div>
	    </div>
	  </div>
	  <!-- chat start -->

	  <!-- chat end -->

	   <script type="text/javascript">

			function initPlug () {
						  $("#picker1").datepicker({
						  	format: "DD/MM/YYYY",
						  	zIndex:9999999999,
						  	startDate: new Date(),
						  	autoHide: true
						  }); 
						  $("#picker2").datepicker({
						  	format: "DD/MM/YYYY",
						  	zIndex:9999999999,
						  	startDate: new Date(),
						  	autoHide : true
						  }); 
				}
				initPlug();

					


					

				

        </script>
	</div>
	<div class="modal fade" id="errorEmails" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close"  ng-click="changeScreen('start')" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" translate="">email_upload_failed</h4>
        </div>
 <div class="modal-body">
           <div ng-if="response.invalidArray.length">			
				
				   	 <b translate="">invalid_emails</b>
				  <ul>
			     	<li ng-repeat="email in response.invalidArray track by $index">
			     	{{email}}
			     </li>
			     </ul>
				   
			</div>
			<div ng-if="response.dupelicateArray.length">			  
			    <b translate="">dupelicate_email</b> 
			    <ul>
			     	<li ng-repeat="email in response.dupelicateArray track by $index">
			     	{{email}}
			     </li>
			     </ul>
			    
	        							
			</div>
        </div>
        <div class="modal-footer">
         <div class="row">
			<div class="modal_but_cont p-l-0 p-r-0 text-right">
				<!-- <button class="modal_nxt_bt" ng-click="shiftTab(1)">Back</button> -->
				<button class="modal_nxt_bt" ng-click="changeScreen('start')" data-dismiss="modal"><span translate="">CLOSE</span> </button>
			</div>

		</div> 
        </div>       
      </div>      
    </div>
  </div>
	  <!-- 4 STEP PROCESS END -->
	
		<!-- chat end -->
	</div>


